<div class="container-fluid">
    <div class="row align-items-center  d-flex justify-content-center align-items-center h-100vh">
        <div class="col-md-8">
            <div class="square-center-bg d-flex align-items-center col-md-12">
                <div class="square-center col-md-6 h-100 ml-100">

                    <h4 class="color-primary mt-5 ml-3">Seja um estudante!</h4>

                    <div class="form-group ml-3 b-bottom mt-4 mb-3 w-90 d-flex align-items-center">
                        <label for="nome"></label>
                        <input class="form-control b-input-bottom " type="text" name="nome" id="nome"
                            placeholder="Nome completo">
                        <i class="fas fa-pen-fancy color-grey"></i>
                    </div>

                    <div class="form-group ml-3 b-bottom mb-3 w-90 d-flex align-items-center">
                        <label for="user"></label>
                        <input class="form-control b-input-bottom" type="text" name="user" id="user"
                            placeholder="Seu usuário">
                        <i class="far fa-user-circle color-grey"></i>
                    </div>

                    <div class="form-group ml-3 b-bottom mb-3 w-90 d-flex align-items-center">
                        <label for="email"></label>
                        <input class="form-control b-input-bottom" type="email" name="email" id="email"
                            placeholder="Seu email">
                        <i class="far fa-envelope color-grey"></i>
                    </div>

                    <div class="form-group ml-3 b-bottom mb-3 w-90 d-flex align-items-center">
                        <label for="foto"></label>
                        <input class="form-control b-input-bottom" type="text" name="foto" id="foto"
                            placeholder="Link da sua foto">
                        <i class="fas fa-link color-grey"></i>
                    </div>

                    <div class="form-group ml-3 b-bottom mb-3 w-90 d-flex align-items-center">
                        <label for="Senha"></label>
                        <input class="form-control b-input-bottom" type="password" name="Senha" id="Senha"
                            placeholder="Sua senha">
                        <i class="fas fa-lock color-grey"></i>
                    </div>

                    <div class="form-group ml-3 b-bottom w-90 d-flex align-items-center">
                        <label for="confirmSenha"></label>
                        <input class="form-control b-input-bottom" type="password" name="confirmSenha" id="confirmSenha"
                            placeholder="Confirme sua senha">
                        <i class="fas fa-lock color-grey"></i>
                    </div>

                    <div class="d-flex justify-content-end w-90 m-auto">

                        <button type="submit" class="btn btn-success">Cadastrar</button>

                    </div>

                </div>
                <div class="square-center-2 w-100">
                    <div class="row wrap">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-5 wrap">

                            <h5 class="mt-4 ml-4">
                                <span class="color-primary">Gostaria de ser um professor?</span>
                            </h5>

                            <p class="ml-4 mt-4 color-white">Faça seu cadastro como professor <br> para poder
                                compartilhar seus <br> cursos e ensinamentos <br> na plataforma</p>

                            <button class="btn mt-2 mb-3  ml-4 bg-primary-root text-white">Cadastrar</button>

                            <div class="row d-flex justify-content-center">

                                <p class="mt-5 text-center">É uma empresa? <span><a href="" class="text-success">
                                            cadastre-se!</a></span></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>