<nav class="navbar navbar-expand-lg navbar-light text-center fixed-top p-0" style="background-color:#4caf50">
    <a class="navbar-brand" href="#"><img src="https://i.imgur.com/KmkB4yw.png" class="ml-5" alt="LOGO" width="50px" height="50px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto fs-16 d-flex align-items-center" id="Menu">
        <li class="nav-item active espR">
            <a routerLink='/homeLogado' ><img height="20px" weight = "30px" src="https://cdn.discordapp.com/attachments/867785639546454016/886063956798627891/house.png"></a>
            <a class="nav-link color" routerLink='/homeLogado'><span class = "ficon"> Home</span></a>
        </li>

        <li class="nav-item espR">
            <a routerLink='/cursos'><img height="20px" src="https://i.imgur.com/XJ5AUfa.png"></a>
            <a class="nav-link color" routerLink='/cursos'> <span class="ficon">Cursos</span></a>
        </li>

        <li class="nav-item espR">
            <a (click)='desativado()'><img height="20px" src="https://i.imgur.com/OzBXVWO.png"></a>
            <a class="nav-link color" (click)='desativado()'> <span class = "ficon"> Fórum</span></a>
        </li>

        <li class="nav-item">
            <a (click)='desativado()'><img height="20px" src="https://i.imgur.com/pwmful7.png"></a>
            <a class="nav-link color" (click)='desativado()'> <span class = "ficon"> Loja</span></a>
        </li>
      </ul>

      <ul class="navbar-nav d-flex  fs-16 text-center" text id="lg-cd">
        <li class="nav-item espL">
            <a (click)='sair()'><img height="18px" src="https://i.imgur.com/LBX26y2.png"></a>
            <a class="nav-link color " (click)='sair()' > <span class = "ficon"> Log out</span></a>
        </li>
    </ul>

    </div>
  </nav>
