@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

#lg-cd{
    margin-right: 40px;
}

.fs-16{
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}

ul li a.color{
    color:black;
    opacity: 0.7;
    
}

a{
    font-size: 10pt;
    font-weight: lighter;
    padding: 0%;
}

ul li a span.ficon{
 font-size: 8pt;
 padding: 0;

}

