<footer>

    <div class="container"></div>

    <div class="row d-flex justify-content-center">

        <div class="col-md-3 d-flex flex-column justify-content-center">
            <h5 class="text-body">Siga nos nas redes socias</h5>
            <ul>

                <li>
                    <a href="https://www.linkedin.com/" target="_blank"></a>
                    <i class="fab fa-linkedin mb-2"><span class="f-font">Zenite Company</span></i>

                </li>

                <li>
                    <a href="https://www.instagram.com/" target="_blank"></a>
                    <i class="fab fa-instagram-square mb-2"><span class="f-font">Zenite Company</span></i>


                </li>

                <li>
                    <a href="https://www.facebook.com/" target="_blank"></a>
                    <i class="fab fa-facebook-square mb-2"><span class="f-font">@Zenite Company</span></i>
                </li>


            </ul>

        </div>

        <div class="col-md-3 justify-content-center">
            <h5 class="text-body">Ajuda</h5>

            <ul>
                <li>
                    <a href="">Fale conosco</a>
                </li>
            </ul>

        </div>

        <div class="col-md-3">
            <h5 class="text-body">Termos e condições</h5>
            <ul>
                <li>
                    <a href="">Regras para uso</a>


                </li>

                <li>
                    <a href="">Contrato de uso</a>
                </li>


            </ul>

        </div>

        <div class="col-md-3">
            <h5 class="text-body">Agradecimentos</h5>

            <ul>
                <li>
                    <a href="">@Deus</a>
                </li>
            </ul>
        </div>

    </div>
    <div >
        <ul>
            <li class="row d-flex justify-content-center">
                2021 Copyright &copy;
            </li>

            <li class="row d-flex justify-content-center">
                Todos os direitos reservados para Zênite Company
            </li>

        </ul>
    </div>


</footer>
