html, body {
    min-height: 100%;
}
body {
    padding: 0;
    margin: 0;
}

footer {

    background-color: #4caf50;
    color: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 60px;
}

ul{
    list-style: none;
    padding: 0;

}

a{

    text-decoration: none;
    color:#d3d3d3;

}

i{
    color: #d3d3d3;
    font-size: 14.5pt;
}

ul li span{

    font-size: 1rem;
    margin-left: 5px;
    color: #d3d3d3;
}

li{
    text-decoration: none;
    color:#d3d3d3;
}

.ml-10{

  margin-left: 3.5rem;
}

.linkedin{
  color: whitesmoke;
}
.linkedin:hover{
  color: #0077b5;
}

.instagram{
  color: whitesmoke;
}

.instagram:hover{
  color: #8a3ab9;
}

.facebook{
 color: whitesmoke;
}

.facebook:hover{
  color: #4267B2;
}
