<footer>

  <div class="container-fluid">


    <div class="row d-flex justify-content-center ">


      <div class="col-md-3 d-flex flex-column align-items-center mb-sm-4 ">

        <img alt="Lhama" width="160" height="160" src="https://imgur.com/LzMMtPT.png">

      </div>



      <div class="col-md-3 text-center align-items-center mb-sm-4 mt-sm-3">

        <h5 class="text-white">Ajuda</h5>
        <ul class="">
          <li>
            <a href="">Fale conosco</a>
          </li>
        </ul>

      </div>

      <div class="col-md-3 text-center align-items-center mb-sm-4 mt-sm-3">
        <h5 class="text-white">Termos e condições</h5>
        <ul>
          <li>
            <a href="">Regras para uso</a>


          </li>

          <li>
            <a href="">Contrato de uso</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 text-center align-items-center mb-sm-4 mt-sm-3">
        <h5 class="text-white">Nossas redes</h5>

        <ul>

           <li>
            <a href="https://www.linkedin.com/" target="_blank"></a>
            <i class="fab fa-linkedin mb-2 linkedin"><span class="f-font">Zenite Company</span></i>

          </li>

          <li>
            <a href="https://www.instagram.com/" target="_blank"></a>
            <i class="fab fa-instagram-square mb-2 instagram"><span class="f-font">Zenite Company</span></i>


          </li>

          <li>
            <a href="https://www.facebook.com/" target="_blank"></a>
            <i class="fab fa-facebook-square mb-0 facebook"><span class="f-font">Zenite Company</span></i>
          </li>


        </ul>
      </div>

    </div>

    <div>
      <ul>
        <li class="row d-flex justify-content-center">
          2021 Copyright &copy;
        </li>

        <li class="row d-flex justify-content-center">
          Todos os direitos reservados para Zênite Company
        </li>

      </ul>
    </div>


  </div>

</footer>
