html, body {
    min-height: 100%;
}
body {
    padding: 0;
    margin: 0;
}

footer {

    background-color: green;
    color: #FFF;
    width: 100%;
    height: 250px;
    padding: 30px;
    /* line-height: 100px; */
}

ul{
    list-style: none;
    padding: 0;

}

a{

    text-decoration: none;
    color:#000000;

}

i{

    color: #000000;
    font-size: 20pt;
}

ul li span{

    font-size: 1rem;
    margin-left: 5px;
}

li{
    text-decoration: none;
    color:#000000;
}
