<div style="height: 90px;"></div>
<div class="container">

  <div class="row d-flex justify-content-center">
    <div class="col-md-10 shadow-lg mb-3 p-3 rounded bg-success position-fixed w-100" style="z-index: 100;">
      <div class="form-group pt-2">

        <input type="text" class="form-control" id="titulo1"
               placeholder="Procure por um curso específico" [(ngModel)]="cursoTema"
               (keyup)="findByNomeCurso()">

      </div>
    </div>
  </div>
<div style="height: 120px;"></div>



<div class="row d-flex justify-content-center align-items-center mb-5">
  <div class="col-12 mt-3 mb-3">
      <h2 class="mb-3 text-center">Trilhas</h2>
  </div>
  <div class="col-1 d-flex justify-content-center">
      <a class="btn btn-carousel" href="#carouselExampleIndicators2" role="button" data-slide="prev">
          <i class="fa fa-arrow-left"></i>
      </a>
  </div>
  <div class="col-10">
      <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner mb-5">
              <div class="carousel-item active">
                  <div class="row">

                      <div class="col-md-4 mb-3">
                          <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                  src="https://imgur.com/aKyRlV3.png">
                              <div class="card-body">
                                  <h4 class="card-title">Desenvolvimento de Software</h4>
                                  <p class="card-text">O desenvolvimento de software é o segmento da computação que, utilizando das linguagens de programação, cria e implementa as soluções de informática.
                                  </p>

                              </div>

                          </div>
                      </div>
                      <div class="col-md-4 mb-3">
                          <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                  src="https://imgur.com/4u2Srtf.png">
                              <div class="card-body">
                                  <h4 class="card-title">Administração</h4>
                                  <p class="card-text">
                                      Trabalha as práticas necessárias para gerenciar um negócio, tais como organizar, mensurar, planejar, dirigir e controlar tudo que envolve os processos de trabalho e as pessoas responsáveis por fazer este mesmo trabalho acontecer.
                                  </p>

                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 mb-3">
                          <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                  src="https://imgur.com/NUXmgPA.png">
                              <div class="card-body">
                                  <h4 class="card-title">Finanças</h4>
                                  <p class="card-text">Controla os recursos financeiros de uma empresa, desde a organização e o planejamento de gastos e orçamentos, até o balanço de receitas e despesas.
                                  </p>

                              </div>
                          </div>

                          
                      </div>

                  </div>
              </div>
              <div class="carousel-item">
                  <div class="row">

                      <div class="col-md-4 mb-3">
                          <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                  src="https://imgur.com/lpEaN8O.png">
                              <div class="card-body">
                                  <h4 class="card-title">Comunicação</h4>
                                  <p class="card-text">O trabalho dessa profissão consiste em transmitir informações entre diversos setores e fazer a mediação da comunicação de origem interna ou externa de uma empresa.
                                  </p>

                              </div>

                          </div>
                      </div>

                      <div class="col-md-4 mb-3">
                          <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                  src="https://imgur.com/7nok3Ri.png">
                              <div class="card-body">
                                  <h4 class="card-title">Designer</h4>
                                  <p class="card-text">Responsável pela estética e funcionalidade de um produto. Cria e desenvolve projetos gráficos ou de comunicação visual, ou de concepção de objetos ou peças dos mais diversos tipos, a serem produzidos em grande escala.
                                  </p>

                              </div>

                          </div>
                      </div>

                      <div class="col-md-4 mb-3">
                          <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                  src="https://imgur.com/lcP3FLl.png">
                              <div class="card-body">
                                  <h4 class="card-title">Marketing</h4>
                                  <p class="card-text">Responsável por melhorias no posicionamento de marca, no aumento de lucro e no melhor relacionamento com os clientes, já que todas as estratégias que fazem parte de um modelo de negócios impactam esses resultados.
                                  </p>

                              </div>

                          </div>
                      </div>
                      
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-1 d-flex justify-content-center">
      <a class="btn btn-carousel" href="#carouselExampleIndicators2" role="button" data-slide="next">
          <i class="fa fa-arrow-right"></i>
      </a>
  </div>
</div>






  <div class="row">
    <div class="col-12">
      <h2>Cursos</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="row d-flex align-items-center mb-5" *ngFor="let item of listaCursos">
        <div class="col-md-3">
          <img class="img-fluid" style="min-height: 200px" src="{{item.foto}}" alt="Imagem de capa dos cursos">
        </div>
        <div class="col-md-9">
          <h2>{{item.titulo}}</h2>
          <p>

            {{item.descricaoCurso}}

          </p>
          <p>Autor: {{item.professor}} </p>
          <p>Duração: </p>
        </div>
      </div>


<!--      <div class="row d-flex align-items-center">-->
<!--        <div class="col-md-3">-->
<!--          <img class="img-fluid" src="https://i.imgur.com/NB3QI0R.png" alt="">-->
<!--        </div>-->
<!--        <div class="col-md-9">-->
<!--          <h2>Desenvolvimento em Java</h2>-->
<!--          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, vel laborum totam sapiente illo alias-->
<!--            similique accusantium! A ea inventore voluptates rem id libero voluptatibus deserunt, vero mollitia illo-->
<!--            nam!</p>-->
<!--          <p>Autor: </p>-->
<!--          <p>Duração: </p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row d-flex align-items-center">-->
<!--        <div class="col-md-3">-->
<!--          <img class="img-fluid" src="https://i.imgur.com/NB3QI0R.png" alt="">-->
<!--        </div>-->
<!--        <div class="col-md-9">-->
<!--          <h2>Desenvolvimento em Java</h2>-->
<!--          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, vel laborum totam sapiente illo alias-->
<!--            similique accusantium! A ea inventore voluptates rem id libero voluptatibus deserunt, vero mollitia illo-->
<!--            nam!</p>-->
<!--          <p>Autor: </p>-->
<!--          <p>Duração: </p>-->
<!--        </div>-->
<!--      </div>-->

    </div>
  </div>
</div>
