<div style="height: 90px;"></div>
<div class="container">

  <div class="row d-flex justify-content-center">
    <div class="col-md-10 shadow-lg mb-3 p-3 rounded bg-success position-fixed w-100" style="z-index: 100;">
      <div class="form-group pt-2">

        <input type="text" class="form-control" id="titulo1"
               placeholder="Procure por um curso específico" [(ngModel)]="cursoTema"
               (keyup)="findByNomeCurso()">

      </div>
    </div>
  </div>
<div style="height: 120px;"></div>



<div class="row d-flex justify-content-center align-items-center mb-5">
  <div class="col-12 mt-3 mb-3">
      <h2 class="mb-3 text-center">Trilhas</h2>
  </div>
  <div class="col-1 d-flex justify-content-center">
      <a class="btn btn-carousel" href="#carouselExampleIndicators2" role="button" data-slide="prev">
          <i class="fa fa-arrow-left"></i>
      </a>
  </div>
  <div class="col-10">
      <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner mb-5">
              <div class="carousel-item active">
                  <div class="row">

                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img class="img-fluid" alt="100%x280" src="https://imgur.com/aKyRlV3.png">
                            <div class="card-body">
                                <h4 class="card-title">Empreendedorismo</h4>
                                <p class="card-text ">Empreendedorismo é a disposição para identificar
                                    problemas e oportunidades e investir recursos e competências na criação
                                    de um negócio, projeto ou movimento que seja capaz de alavancar mudanças
                                    e gerar um impacto positivo.
                                </p>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img class="img-fluid" alt="100%x280" src="https://imgur.com/4u2Srtf.png">
                            <div class="card-body">
                                <h4 class="card-title">Educação Financeira</h4>
                                <p class="card-text">
                                    A educação financeira tem por propósito auxiliar os consumidores na
                                    administração dos seus rendimentos, nas suas decisões de poupança e
                                    investimento, no seu consumo consciente e na prevenção de situações de
                                    fraude.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img class="img-fluid" alt="100%x280" src="https://imgur.com/AA3UoIH.png">
                            <div class="card-body">
                                <h4 class="card-title">Português</h4>
                                <p class="card-text">O objetivo é formar
                                    críticos que possam  interagir com diversos tipos de textos que circulam
                                    socialmente, para assim aprimorar a linguagem e participar com sucesso
                                    da vida do bairro, da sociedade e do país.
                                </p>

                            </div>
                        </div>


                    </div>

                </div>
            </div>
            <div class="carousel-item">
                <div class="row">

                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img class="img-fluid" alt="100%x280" src="https://imgur.com/lpEaN8O.png">
                            <div class="card-body">
                                <h4 class="card-title">Comunicação</h4>
                                <p class="card-text">O trabalho dessa profissão consiste em transmitir
                                    informações entre diversos setores e fazer a mediação da comunicação de
                                    origem interna ou externa de uma empresa.
                                </p>

                            </div>

                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img class="img-fluid" alt="100%x280" src="https://imgur.com/vG1hiYM.png">
                            <div class="card-body">
                                <h4 class="card-title">Matemática</h4>
                                <p class="card-text">Desenvolvimento
                                    do raciocínio lógico, da criatividade, da capacidade de investigação e
                                    da solução de problemas. A estatística, a ecologia e a computação são
                                    alguns exemplos de áreas profissionais que utilizam a matemática como
                                    ferramenta.
                                </p>

                            </div>

                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img class="img-fluid" alt="100%x280" src="https://imgur.com/lcP3FLl.png">
                            <div class="card-body">
                                <h4 class="card-title">Idiomas</h4>
                                <p class="card-text">Aprender uma nova língua é se inserir em uma nova
                                    cultura e esse processo nos ajuda a entender melhor as atitudes e
                                    comportamentos dos outros, vendo certas coisas sob uma nova perspectiva.
                                </p>

                            </div>

                        </div>
                    </div>
                        
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-1 d-flex justify-content-center">
      <a class="btn btn-carousel" href="#carouselExampleIndicators2" role="button" data-slide="next">
          <i class="fa fa-arrow-right"></i>
      </a>
  </div>
</div>

  <div class="row">
    <div class="col-12">
      <h2>Cursos</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="row d-flex align-items-center mb-5" *ngFor="let item of listaCursos">
        <div class="col-md-3">
          <img class="img-fluid" style="min-height: 200px" src="{{item.foto}}" alt="Imagem de capa dos cursos">
        </div>
        <div class="col-md-9">
          <h2 routerLink='/telaDeVideos'>{{item.titulo}}</h2>
          <p>

            {{item.descricaoCurso}}

          </p>
          <p>Autor: {{item.professor}} </p>
          <p>Duração: </p>
        </div>
      </div>


<!--      <div class="row d-flex align-items-center">-->
<!--        <div class="col-md-3">-->
<!--          <img class="img-fluid" src="https://i.imgur.com/NB3QI0R.png" alt="">-->
<!--        </div>-->
<!--        <div class="col-md-9">-->
<!--          <h2>Desenvolvimento em Java</h2>-->
<!--          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, vel laborum totam sapiente illo alias-->
<!--            similique accusantium! A ea inventore voluptates rem id libero voluptatibus deserunt, vero mollitia illo-->
<!--            nam!</p>-->
<!--          <p>Autor: </p>-->
<!--          <p>Duração: </p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row d-flex align-items-center">-->
<!--        <div class="col-md-3">-->
<!--          <img class="img-fluid" src="https://i.imgur.com/NB3QI0R.png" alt="">-->
<!--        </div>-->
<!--        <div class="col-md-9">-->
<!--          <h2>Desenvolvimento em Java</h2>-->
<!--          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, vel laborum totam sapiente illo alias-->
<!--            similique accusantium! A ea inventore voluptates rem id libero voluptatibus deserunt, vero mollitia illo-->
<!--            nam!</p>-->
<!--          <p>Autor: </p>-->
<!--          <p>Duração: </p>-->
<!--        </div>-->
<!--      </div>-->

    </div>
  </div>
</div>
