<div style="height: 90px;"></div>
<div class="container">

  <div class="row d-flex justify-content-center">
    <div class="col-md-10 shadow-lg mb-3 p-3 rounded bg-success position-fixed w-100" style="z-index: 100;">
      <div class="form-group pt-2">

        <input type="text" class="form-control" id="titulo1"
               placeholder="Procure por um curso específico" [(ngModel)]="cursoTema"
               (keyup)="findByNomeCurso()">

      </div>
    </div>
  </div>
<div style="height: 120px;"></div>

  <div class="row d-flex justify-content-center align-items-center mb-5">
    <div class="col-12">
      <h2 class="mb-3 text-center">Trilhas</h2>
    </div>
    <div class="col-1 d-flex justify-content-center">
      <a class="btn btn-primary" href="#carouselExampleIndicators2" role="button" data-slide="prev">
        <i class="fa fa-arrow-left"></i>
      </a>
    </div>
    <div class="col-10">
      <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">

              <div class="col-md-4 mb-3">
                <div class="card">
                  <img class="img-fluid" alt="100%x280"
                    src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                  <div class="card-body">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.
                    </p>

                  </div>

                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card">
                  <img class="img-fluid" alt="100%x280"
                    src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                  <div class="card-body">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.
                    </p>

                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card">
                  <img class="img-fluid" alt="100%x280"
                    src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                  <div class="card-body">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.
                    </p>

                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="carousel-item">
            <div class="row">

              <div class="col-md-4 mb-3">
                <div class="card">
                  <img class="img-fluid" alt="100%x280"
                    src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4">
                  <div class="card-body">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.
                    </p>

                  </div>

                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card">
                  <img class="img-fluid" alt="100%x280"
                    src="https://images.unsplash.com/photo-1532715088550-62f09305f765?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ebadb044b374504ef8e81bdec4d0e840">
                  <div class="card-body">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.
                    </p>

                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card">
                  <img class="img-fluid" alt="100%x280"
                    src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=0754ab085804ae8a3b562548e6b4aa2e">
                  <div class="card-body">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.
                    </p>

                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="carousel-item">
            <div class="row">

              <div class="col-md-4 mb-3">
                <div class="card">
                  <img class="img-fluid" alt="100%x280"
                    src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                  <div class="card-body">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.
                    </p>

                  </div>

                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card">
                  <img class="img-fluid" alt="100%x280"
                    src="https://images.unsplash.com/photo-1532777946373-b6783242f211?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=8ac55cf3a68785643998730839663129">
                  <div class="card-body">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.
                    </p>

                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card">
                  <img class="img-fluid" alt="100%x280"
                    src="https://images.unsplash.com/photo-1532763303805-529d595877c5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=5ee4fd5d19b40f93eadb21871757eda6">
                  <div class="card-body">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1 d-flex justify-content-center">
      <a class="btn btn-primary" href="#carouselExampleIndicators2" role="button" data-slide="next">
        <i class="fa fa-arrow-right"></i>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Cursos</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="row d-flex align-items-center mb-5" *ngFor="let item of listaCursos">
        <div class="col-md-3">
          <img class="img-fluid" style="min-height: 200px" src="{{item.foto}}" alt="Imagem de capa dos cursos">
        </div>
        <div class="col-md-9">
          <h2>{{item.titulo}}</h2>
          <p>

            {{item.descricaoCurso}}

          </p>
          <p>Autor: {{item.professor}} </p>
          <p>Duração: </p>
        </div>
      </div>


<!--      <div class="row d-flex align-items-center">-->
<!--        <div class="col-md-3">-->
<!--          <img class="img-fluid" src="https://i.imgur.com/NB3QI0R.png" alt="">-->
<!--        </div>-->
<!--        <div class="col-md-9">-->
<!--          <h2>Desenvolvimento em Java</h2>-->
<!--          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, vel laborum totam sapiente illo alias-->
<!--            similique accusantium! A ea inventore voluptates rem id libero voluptatibus deserunt, vero mollitia illo-->
<!--            nam!</p>-->
<!--          <p>Autor: </p>-->
<!--          <p>Duração: </p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row d-flex align-items-center">-->
<!--        <div class="col-md-3">-->
<!--          <img class="img-fluid" src="https://i.imgur.com/NB3QI0R.png" alt="">-->
<!--        </div>-->
<!--        <div class="col-md-9">-->
<!--          <h2>Desenvolvimento em Java</h2>-->
<!--          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, vel laborum totam sapiente illo alias-->
<!--            similique accusantium! A ea inventore voluptates rem id libero voluptatibus deserunt, vero mollitia illo-->
<!--            nam!</p>-->
<!--          <p>Autor: </p>-->
<!--          <p>Duração: </p>-->
<!--        </div>-->
<!--      </div>-->

    </div>
  </div>
</div>
