<div class="container-fluid">
  <div class="row d-flex align-items-center">
    <!-- form -->
   

      <div class="col-md-6  mt-5">
        <div class="row d-flex   justify-content-end  ">
          

          <div class="col-md-8 boxEmail ">
            <h3 class="ajuste mt-4">Esqueceu sua senha?</h3>
            <h6 class="ajuste cor2 mb-4 ">Redefina a sua senha informando seu <br> e-mail no campo abaixo!</h6>

            <div class="form-group d-flex align-items-center linha">
              <label for="email"></label>
              <input class="form-control bordas" type="email" name="email" id="email" placeholder="E-mail">
              <i class="fa fa-envelope-o color-grey" aria-hidden="true"></i>
            </div>
            <div class="d-flex justify-content-center mt-3 mb-4 ">
              <button type="submit" class="btn btn-success w-100 mt-3">Redefinir Senha
              </button>

            </div>

            <div class="mt-5">
              <p class="text-center"><a routerLink=''> <span
                    class="corLink">Voltar</span></a>
              </p>
            </div>
          </div>

        </div>
 
      </div>
    

    <!-- imagem -->
    <div class="col-md-6  " id="imgSenha"></div>

  </div>

</div>