<nav class="navbar navbar-expand-lg fixed-top d-flex justify-content-center" style="background-color:#4caf50">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" >
        <ul class="navbar-nav d-flex align-items-center fs-16" id="Menu">
            <li class="nav-item active">
                <a class="nav-link img-fluid" routerLink='/home'><img src="https://imgur.com/7QRB7f7.png" alt="LOGO" width="40px" height="40px"></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link color" routerLink='home/#home'>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link color" routerLink='home/#sobreNos'>Sobre Nós</a>
            </li>
            <li class="nav-item">
                <a class="nav-link color" routerLink='home/#contato'>Contatos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link color" routerLink='home/#apoie'>Apoie</a>
            </li>
        </ul>

    </div>

    <ul class="navbar-nav d-flex align-items-center fs-16" id="lg-cd">
        <li class="nav-item">
            <a class="nav-link color" routerLink='/login'>Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link color" routerLink='cadastro-estudante'>Cadastro</a>
        </li>
    </ul>
    
</nav>