  <div style="height: 50vh; margin-bottom: 100px;" class="container-fluid bg-success">
      <img style="position: absolute; right: 0; left: 0; bottom: 0; top: 0; margin: auto;" width="200" src="https://avatars.githubusercontent.com/u/66184206?v=4" class="img-fluid rounded-circle" alt="...">
  </div>

<div class="container d-flex justify-content-center mb-3">
  <i class="fab fa-linkedin m-5" style="font-size: 50px;"></i>
  <i class="fab fa-instagram-square m-5" style="font-size: 50px;"></i>
  <i class="fab fa-facebook-square m-5" style="font-size: 50px;"></i>
</div>



