#imgLog{
height: 500px;
width: 500px;
background-image: url(../../assets/imgLogineSenha/Login-bro.svg);
background-position: center;
background-repeat: no-repeat;
}


.boxLG{
width: 500px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
text-align: center;
border-radius: 8px;
padding-right: 60px;
padding-left: 50px;
padding-top: 30px;

}

.ajuste{
  text-align: left;
}

.botaoT{
  width: 100%;
}

.x{
  margin: 20px 50px 50px 50px;
}

.bordas{

  border-style: none;
  outline: none;
  border-bottom-style:solid ;
  border-width: 1px;
  
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0
}

.corLink{
  color: #4caf50;
}

.cor2{ color: #4caf50;
}

.linha{
  border-bottom: 1px solid rgb(44, 40, 40);
}

.color-grey{
  color: #9e9e9e;
}
.teste{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

a:hover{
  text-decoration: none;
}