<div class="container-fluid teste">
  <div class="row d-flex align-items-center">
    <!-- imagem -->
    <div class="col-md-6  justify-content-center" id="imgLog"></div>


    <!-- form. entrada -->
    <div class="col-md-6 mt-5 align-items-center">
      <div class="row d-flex justify-content-start">

        <div class="col-md-8 boxLG mt-2">
          <h1 class="ajuste cor2 mt-4">Conecte-se</h1>
          <h6 class="ajuste mb-4 ">Seja bem vindo de volta!</h6>

          <div class="form-group d-flex align-items-center linha ">
            <label for="usuario"></label>
            <input [(ngModel)]="estudanteLogin.email" class="form-control " type="text" name="usuario" id="usuario"
                   placeholder="Email de usuário">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>

          <div class="form-group d-flex align-items-center linha">
            <label for="senha"></label>

            <input [(ngModel)]="estudanteLogin.senha" class="form-control bordas" type="password" name="senha"
                   id="senha" placeholder="Senha"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
          </div>

          <div><p class="text-left"><a routerLink=''> <span class="corLink"> Esqueceu a senha?</span> </a>
          </p></div>

          <div class="d-flex justify-content-center mt-3 mb-4">
            <button type="submit" class="btn btn-success botaoT" (click)="entrar()">Entrar
            </button>

          </div>

          <div class="mt-5"><p class="text-center"> Novo na Zênite? <a routerLink='/cadastro-estudante'><span
            class="corLink">Cadastre-se</span></a>
          </p></div>
        </div>
      </div>
    </div>
  </div>
</div>
