#img-bg{
    background-image: url(../../assets/img/cadastroempresa.svg);
    width: 550px;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
}

#boxCad{
    width: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 8px;
    padding-right: 90px;
    padding-left: 50px;
    padding-top: 30px;
    
}

.borda{
    border-style: none;
    outline: none;
    border-bottom-style: solid;
}

a:hover{
    text-decoration: none;
  }

