<div class="container-fluid mt-5">

    <div class="row d-flex align-items-center">

        <div class="col-md-6" id="img-bg"> </div>

        <div class="col-md-6 mt-5 mb-5">

            <div class="row d-flex justify-content-center" id="boxCad">
                <div class="col-md-10 ">

                    <h2 class="text-center no-wrape" id="cad" >Cadastro Empresa</h2>

                    <div class="form-group">
                        <label for="nome"></label>
                        <input class="form-control borda" type="text" name="nome" id="nome" placeholder="Nome da Empresa">
                    </div>

                    <div class="form-group">
                        <label for="usuario"></label>
                        <input class="form-control borda" type="text" name="usuario" id="usuario"
                        placeholder="Digite Usuario">
                    </div>

                    <div class="form-group">
                        <label for="CNPJ" ></label>
                        <input class="form-control borda" type="text" name="CNPJ" id="CNPJ"
                            placeholder="CNPJ">
                    </div>

                    <div class="form-group">
                        <label for="foto"></label>
                        <input class="form-control borda" type="text" name="foto" id="foto" placeholder="Link da Foto">
                    </div>

                    <div class="form-group">
                        <label for="senha"></label>
                        <input class="form-control borda" type="password" name="senha" id="senha"
                            placeholder="Digite sua senha">
                    </div>

                    <div class="form-group">
                        <label for="confirmarsenha"></label>
                        <input class="form-control borda" type="password" name="confirmarsenha" id="confirmarsenha"
                            placeholder="Confirme sua senha">
                    </div>


                    <div class="d-flex justify-content-end mb-4">
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                    </div>

                </div>

            </div>

        </div>



    </div>

</div>