<div class="container-fluid mt-5">

    <!--Geral-->
<div class="row">

    <!--Coluna do video-->
    <div class="col-md-8">

        <div class="row">

            <div class="col-md-12">
                <div class="embed-responsive embed-responsive-16by9 mt-4 ml-3">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                  </div>
            </div>
        </div>
        
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 align-itens-center">
                <h2 class="text-center mt-5 mb-2">
                    Perguntas e respostas
                </h2>
                    <div class="form-group d-flex justify-content-center ml-4 mt-3">
                        <label for="perguntas"></label>
                        <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Perguntas e respostas">
                        <button class="btn btn-success ml-2" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
        </div>



</div>
    <div class="col-md-4 d-flex">
     <table class="table table-hover table-success ml-3 pl-5 mt-4">
        <thead>
          <tr>
            
            
            
            <th class="bg-light text-center" scope="col">Aulas do curso</th>
          </tr>
        </thead>
        <tbody>
          <tr>
           <a href=""><th scope="row" style="padding-left: 170px;" class="text-dark">1 - Operadores lógicos</th>
         </a>
            
            
          </tr>
          <tr>
            <a href="">
                <th style="padding-left: 170px;" class="text-dark">2 - Condicionais</th>
              </a>
          </tr>
          <tr>
              <th style="padding-left: 170px;" class="text-dark">3 - Laços de repetição</th>
          </tr>
          <tr>
            <a href="">
                <th style="padding-left: 170px;" class="text-dark">
                    4 - Laços de repetição 2
                </th>
            </a> 
        </tr>
          <tr>
            <a href="">
                <th style="padding-left: 170px;" class="text-dark">
                    5 - Vetores
                </th>
            </a>
            </tr>
        <tr>
            <a href="">
                <th style="padding-left: 170px;" class="text-dark">
                    6 - Matrizes
                </th>
            </a>
        </tr>
        <tr>
           <a href="">
            <th style="padding-left: 170px;" class="text-dark">
                7 - POO
            </th>
           </a>
            
        </tr>
        <tr>
            <a href="">
                <th style="padding-left: 170px;" class="text-dark">
                    8 - Classes
                </th>
            </a>
        </tr>
        <tr>
           <a href="">
            <th style="padding-left: 170px;" class="text-dark">
                9 - Herança
            </th>
           </a>
            </tr>
        <tr>
            <a href="">
                <th style="padding-left: 170px;" class="text-dark">
                    10 - Polimorfismo
                </th>
            </a>
            
        </tr>
        </tbody>
      </table>  
    </div>
</div>



</div>