/* You can add global styles to this file, and also import other style files */

html{
    scroll-behavior: smooth;
}

body{
  background-color: #fff!important;
}


:root {
  --color-text: #000;
  --background-color: #fff;
  --background-color2: #f2f2f2;
}
