@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.fs-50{
    font-size: 42pt;
    font-family: 'Ubuntu', sans-serif;
    border-right: 2px solid;
}

@keyframes blinkCursor {
  from{
    border-right-color:

  }
  to{
    border-right-color: transparent;
  }

}

.icon{
    color: #F79B1F;
    font-size: 15pt;
}

.icon-size{
    color: #4caf50;
    font-size: 50pt;
}

ul{
    list-style: none;
}

.texto{
    width: 300px;
    font-family: 'Ubuntu', sans-serif;
}

.titulo{
    color:#F79B1F;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 550;
}

.cont-color{
    background-color:#4caf50;
    width: 100%;
    height: 500px;
}

.card-tm{
    width: 250px;
    height: 500px;
}

.btn-color{
    background-color:#4caf50;
}

.btn-carousel{
  color:#92E3A9;
}

.card-icon{
  font-size: 30pt;
}

h2{
  font-family: 'Ubuntu', sans-serif;
}
  
/*FLIP CARD*/
  .face {
    width: 400px;
    height: 500px;
    perspective: 400px;
  }

  .faceEquipe{
    width: 200px;
    height: 250px;
    perspective: 200px;
  }
  
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    transition: 700ms;
  }

  .frontLhama, .backLhama {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    transition: 700ms;
  }
  
  .front {
    background: #B8EBA2;
    z-index: 1;
  }

  .frontLhama{
    background: #ffffff;
    z-index: 1;
  }
  
  .back {
    background: #92E3A9;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
  }

  .backLhama{
    background: #B8EBA2;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
  }
  
  .face:hover .front {
    transform: rotateY(180deg);
    z-index: 0;
  }
  
  .face:hover .back {
    transform: rotateY(0);
    z-index: 1;
  }

  .face:hover .frontLhama {
    transform: rotateY(180deg);
    z-index: 0;
  }
  
  .face:hover .backLhama {
    transform: rotateY(0);
    z-index: 1;
  }

  .faceEquipe:hover .front {
    transform: rotateY(180deg);
    z-index: 0;
  }
  
  .faceEquipe:hover .back {
    transform: rotateY(0);
    z-index: 1;
  }
/*FLIP CARD*/