@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

img{
  max-width: 100%;
}

.storyset img{
  width: 100%;
  height: auto;
}

.icon{
  color: #F79B1F;
  font-size: 15pt;
}

.icon-size{
  color: #4caf50;
  font-size: 50pt;
}

ul{
  list-style: none;
}

.texto{
  width: 300px;
  font-family: 'Ubuntu', sans-serif;
}

.titulo{
  color:#F79B1F;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 550;
}

.cont-color{
  background-color:#4caf50;
  width: 100%;
  height: 500px;
}

.card-tm{
  width: 250px;
  height: 500px;
}

.btn-color{
  background-color:#4caf50;
}

.btn-carousel{
color:#92E3A9;
}

.card-icon{
font-size: 30pt;
color: #0d1117;
}

h2{
font-family: 'Ubuntu', sans-serif;
}

.fs-50{
    font-size: 42pt;
    font-family: 'Ubuntu', sans-serif;
    /*border-right: 2px solid;*/
    white-space: nowrap;
    overflow: hidden;
}

p{
  font-family: 'Ubuntu', sans-serif;
}



/*FLIP CARD*/
  .face {
    width: 350px;
    height: 400px;
    perspective: 400px;
  }

  .faceEquipe{
    width: 200px;
    height: 250px;
    perspective: 200px;
  }

  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 10px;
    transition: 700ms;
  }

  .frontLhama, .backLhama {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 10px;
    transition: 700ms;
  }

  .front {
    background: #4caf50;
    z-index: 1;
  }

  .frontLhama{
    background: #ffffff;
    z-index: 1;
  }

  .back {
    background: #92E3A9;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
  }

  .backLhama{
    background: #B8EBA2;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
  }

  .face:hover .front {
    transform: rotateY(180deg);
    z-index: 0;
  }

  .face:hover .back {
    transform: rotateY(0);
    z-index: 1;
  }

  .face:hover .frontLhama {
    transform: rotateY(180deg);
    z-index: 0;
  }

  .face:hover .backLhama {
    transform: rotateY(0);
    z-index: 1;
  }

  .faceEquipe:hover .front {
    transform: rotateY(180deg);
    z-index: 0;
  }

  .faceEquipe:hover .back {
    transform: rotateY(0);
    z-index: 1;
  }
/*FLIP CARD*/

.nome{
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
}

.funcao{
  font-family: 'Ubuntu', sans-serif;
}

.fotoEquipe{
  border-radius: 5%;
}

/*MODO NOTURNO*/

.img-wave{
  transform: scaleY(-1);
  background: #4caf50;
}

.wave{
  background: #4caf50;
}


button.btn-laranja:hover{
  background: darkorange;
  transition: .5s ease-in-out;
}

.custom-shape-divider-bottom-1631492991 {
  /*position: absolute;*/
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1631492991 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 133px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1631492991 .shape-fill {
  fill: #4CAF50;
}

/**/


.custom-shape-divider-top-1631492921 {
  /*position: absolute;*/
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1631492921 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 133px;
}

.custom-shape-divider-top-1631492921 .shape-fill {
  fill: #4CAF50;
}

a:hover{
  text-decoration: none;
}

.card{
  width: 350px;
  height: 410px;
}

/***************************************************************************/

.darkmode{
  background: var(--background-color3);
}

#darkmodeTogle{
  display: none;
}

#darkmodeTogle:checked + main{
  --color-text: #fff;
  --background-color: #0d1117;
  --background-color3: #222222;
  --shadow-color: 0 0rem 1rem rgba(255,255,255,1.175)!important ;

  transition: .5s ease-in-out background, .3s ease-in-out color;
}

h1  {
  color: var(--color-text);
}

.p-estilizado{
  color: var(--color-text);
}

.f-sz{
  font-size: 20pt;
}

.card-lhama-p{
  padding: 10px;

}

/*Estilo Máquina de Escrever*/
.typing-animation{
  animation: blinkCursor 500ms steps(40) infinite normal, typing 1.5s steps(40) 1s  normal both;
}

.typing-animation2{
  animation: blinkCursor 500ms steps(40) infinite normal, typing 1.5s steps(40) 2s  normal both;
}

.typing-animation3{
  animation: blinkCursor 500ms steps(40) infinite normal, typing 2s steps(40) 4s  infinite both;
}

@keyframes typing {
  from{
    width: 0;
  }
  to{
    width: 9em;
  }
}

@keyframes blinkCursor {
  from{
    border-right-color: transparent;
  }
  to{
    border-right-color: transparent;
  }

}
/*Estilo Máquina de Escrever*/