<div class="container-fluid mt-5" id='home' routerLink fragment="home">

    <div class="row d-flex align-items-center">
        <div class="col-md-7">

            <div class="row d-flex justify-content-center">
                <div class="col-md-7">
                    <h1 class="fs-50">Seja bem vinde a nossa rede social Zênite.</h1>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <a href="" target="_blank"><i class="fas fa-envelope mr-4 icon"></i></a>
                    <a href="" target="_blank"><i class="fa fa-linkedin icon" aria-hidden="true"></i></a>
                </div>
            </div>

        </div>

        <div class="col-md-5">
            <img src="https://imgur.com/LsiaWCC.png" alt="" width="500px" height="500px">
        </div>

    </div>

</div>

<!--sobre nós-->
<div class="container-fluid" routerLink fragment="sobreNos">
    <div class="row d-flex align-items-center">

        <div class="col-md-4" id='sobreNos'>
            <img src="https://imgur.com/sVHat0x.png" alt="" width="500px" height="500px">
        </div>

        <div class="col-md-8">

            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <h1>Quem Somos</h1>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-8">
                    <p>
                        Acreditamos que a educação é a melhor ferramenta para lutar por seus direitos e alcançar novos
                        objetivos, por isso, nosso projeto nasceu da ideia de auxiliar jovens de 14 até 24 anos, em
                        situação de vulnerabilidade social, a ingressar no mercado de trabalho. No mercado trocamos a
                        nossa força de trabalho por produtos essenciais para vida, na Zênite pretendemos trocar a força
                        de estudo por esses produtos, para assim, menos pessoas precisarem desistir dos estudos para se
                        manter.
                    </p>
                    <p>
                        Somos uma rede social idealizada com o intuito de incentivar o acesso e transmissão à educação,
                        conectando educadores voluntários a alunes que buscam uma formação inicial;
                    </p>
                    <p>
                        A Zênite também integra o alune a uma rede de empresas que pode patrocinar e incentivar o
                        usuário até que ele esteja formado, além da oportunidade de contratação ao final da formação.
                    </p>
                </div>
            </div>

        </div>

    </div>

    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-12 d-flex justify-content-center align-items-center ml-5 mr-5">
            <div class="col-md-4 d-flex justify-content-center">
                <i class="fas fa-envelope icon-size"></i>
            </div>

            <div class="col-md-4 d-flex justify-content-center">
                <i class="fa fa-binoculars icon-size"></i>
            </div>

            <div class="col-md-4 d-flex justify-content-center">
                <i class="fas fa-users icon-size"></i>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-12 d-flex justify-content-center align-items-center ml-5 mr-5">
            <div class="col-md-4 texto">
                <h3 class="titulo d-flex justify-content-center"> Missão</h3>
                <p>
                    Contribuir na erradicação da pobreza através do incentivo ao acesso à educação e inicialização de jovens no mercado de trabalho.
                </p>
            </div>
            <div class="col-md-4 texto">
                <h3 class="titulo d-flex justify-content-center"> Visão </h3>
                <p>
                    Crescer de forma sustentável, agregando conhecimento e bem estar aos envolvidos no projeto.
                </p>
            </div>
            <div class="col-md-4 texto">
                <h3 class="titulo d-flex justify-content-center"> Valores </h3>
                <p>
                    Agir de forma correta, priorizando a qualidade de vida, valorizar quem todes que contribuem para a realização desse projeto.
                </p>
            </div>

        </div>
    </div>

</div>
<!--/sobre nós-->
<!--AREA DIFUSA PARA VERDE #4caf50-->
<!--trilhas-->
<div class="container-fluid cont-color">

    <div class="row d-flex justify-content-center align-items-center mb-5">
        <div class="col-12 mt-3 mb-3">
            <h2 class="mb-3 text-center">Conheça nossas Trilhas</h2>
        </div>
        <div class="col-1 d-flex justify-content-center">
            <a class="btn btn-carousel" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
        </div>
        <div class="col-10">
            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">

                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280"
                                        src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                    <div class="card-body">
                                        <h4 class="card-title">Special title treatment</h4>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional content.
                                        </p>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280"
                                        src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                                    <div class="card-body">
                                        <h4 class="card-title">Special title treatment</h4>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional content.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280"
                                        src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                    <div class="card-body">
                                        <h4 class="card-title">Special title treatment</h4>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional content.
                                        </p>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">

                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280"
                                        src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4">
                                    <div class="card-body">
                                        <h4 class="card-title">Special title treatment</h4>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional content.
                                        </p>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280"
                                        src="https://images.unsplash.com/photo-1532715088550-62f09305f765?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ebadb044b374504ef8e81bdec4d0e840">
                                    <div class="card-body">
                                        <h4 class="card-title">Special title treatment</h4>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional content.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280"
                                        src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=0754ab085804ae8a3b562548e6b4aa2e">
                                    <div class="card-body">
                                        <h4 class="card-title">Special title treatment</h4>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional content.
                                        </p>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">

                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280"
                                        src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                                    <div class="card-body">
                                        <h4 class="card-title">Special title treatment</h4>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional content.
                                        </p>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280"
                                        src="https://images.unsplash.com/photo-1532777946373-b6783242f211?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=8ac55cf3a68785643998730839663129">
                                    <div class="card-body">
                                        <h4 class="card-title">Special title treatment</h4>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional content.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280"
                                        src="https://images.unsplash.com/photo-1532763303805-529d595877c5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=5ee4fd5d19b40f93eadb21871757eda6">
                                    <div class="card-body">
                                        <h4 class="card-title">Special title treatment</h4>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional content.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1 d-flex justify-content-center">
            <a class="btn btn-carousel" href="#carouselExampleIndicators2" role="button" data-slide="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>




</div>
<!--/AREA DIFUSA PARA VERDE #4caf50-->

<!--Area de apoiador-->
<div class="container" routerLink fragment="apoie">

    <div class="row d-flex justify-content-center mt-5" id='apoie'>
        <h1>Seja um apoiador</h1>
    </div>

    <div class="row mt-5">

        <div class="col-md-6 d-flex justify-content-center">

            <div class="col-md-6 ml-5 mt-5 align-items-center">
                <div class="mb-5">
                    <button class="btn btn-success btn-lg btn-color">
                        Doe agora
                    </button>
                </div>
                <div class="mb-5">
                    <button class="btn btn-success btn-lg btn-color">
                        Torna-se um parceirto
                    </button>
                </div>
                <div class="mb-5">
                    <button class="btn btn-success btn-lg btn-color">
                        Contrate
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-5 align-items-center">

            <div class="col-md-6 ">
                <img src="https://imgur.com/0Xn8DIH.png" alt="Imagem para doar" width="400px" height="400px">
            </div>

        </div>

    </div>
</div>
<!--/Area de apoiador-->
<!--EQUIPE-->
<div class="container">
    <div class="row d-flex justify-content-center mt-5">
        <h1>Conheça a Equipe</h1>
    </div>

    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-3">

            <section>
                <div class="face text-center">
                    <div class="frontLhama">
                        <img src="https://imgur.com/7QRB7f7.png" alt="Lhama" width="400px" height="400px">
                        <h2>Pedrinho</h2>
                    </div>

                    <div class="backLhama text-center">
                        <h2>Saiba Mais</h2>
                        <p>
                            Nosso mascote Pedrinho, uma Lhama que recebeu esse nome em homenagem ao filho de um dos
                            nossos integrantes.
                        </p>
                        <i class="fa fa-github-alt card-icon mr-5" aria-hidden="true"></i>
                        <i class="fa fa-linkedin card-icon" aria-hidden="true"></i>

                    </div>
                </div>
            </section>

        </div>

        <div class="col-md-9 d-flex justify-content-end">

            <div class="row d-flex justify-content-end">

                <div class="row d-flex justify-content-end">
                    <div class="col-md-4">

                        <div class="faceEquipe">
                            <div class="front text-center">
                                <img src="https://imgur.com/GTAutzv.png" alt="Lhama" width="100%" height="80%">
                                <h3>André</h3>
                                <p>Desenvolvedor Java FullStack</p>
                            </div>

                            <div class="back text-center">
                                <h2>Saiba Mais</h2>
                                <i class="fa fa-github-alt card-icon mr-5" aria-hidden="true"></i>
                                <i class="fa fa-linkedin card-icon" aria-hidden="true"></i>
                                <p>
                                    <!--UMA FRASE DE DESCRIÇÃO? NOME COMPLETO?-->
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="faceEquipe">
                            <div class="front text-center">
                                <h2>Barbara</h2>
                                <img src="https://imgur.com/7QRB7f7.png" alt="Lhama" width="200px" height="200px">
                            </div>

                            <div class="back text-center">
                                <h2>Saiba Mais</h2>
                                <i class="fa fa-github-alt card-icon mr-5" aria-hidden="true"></i>
                                <i class="fa fa-linkedin card-icon" aria-hidden="true"></i>
                                <p>
                                    <!--UMA FRASE DE DESCRIÇÃO? NOME COMPLETO?-->
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">


                        <div class="faceEquipe">
                            <div class="front text-center">
                                <h2>Fabio</h2>
                                <img src="https://imgur.com/7QRB7f7.png" alt="Lhama" width="200px" height="200px">
                            </div>

                            <div class="back text-center">
                                <h2>Saiba Mais</h2>
                                <i class="fa fa-github-alt card-icon mr-5" aria-hidden="true"></i>
                                <i class="fa fa-linkedin card-icon" aria-hidden="true"></i>
                                <p>
                                    <!--UMA FRASE DE DESCRIÇÃO? NOME COMPLETO?-->
                                </p>
                            </div>
                        </div>



                    </div>
                </div>

                <div class="row d-flex justify-content-end mt-3">
                    <div class="col-md-4">

                        <div class="faceEquipe">
                            <div class="front text-center">
                                <h2>Jaque</h2>
                                <img src="https://imgur.com/7QRB7f7.png" alt="Lhama" width="200px" height="200px">
                            </div>

                            <div class="back text-center">
                                <h2>Saiba Mais</h2>
                                <i class="fa fa-github-alt card-icon mr-5" aria-hidden="true"></i>
                                <i class="fa fa-linkedin card-icon" aria-hidden="true"></i>
                                <p>
                                    <!--UMA FRASE DE DESCRIÇÃO? NOME COMPLETO?-->
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="faceEquipe">
                            <div class="front text-center">
                                <h2>Marlon</h2>
                                <img src="https://imgur.com/7QRB7f7.png" alt="Lhama" width="200px" height="200px">
                            </div>

                            <div class="back text-center">
                                <h2>Saiba Mais</h2>
                                <i class="fa fa-github-alt card-icon mr-5" aria-hidden="true"></i>
                                <i class="fa fa-linkedin card-icon" aria-hidden="true"></i>
                                <p>
                                    <!--UMA FRASE DE DESCRIÇÃO? NOME COMPLETO?-->
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">


                        <div class="faceEquipe">
                            <div class="front text-center">
                                <h2>Tomas</h2>
                                <img src="https://imgur.com/7QRB7f7.png" alt="Lhama" width="200px" height="200px">
                            </div>

                            <div class="back text-center">
                                <h2>Saiba Mais</h2>
                                <i class="fa fa-github-alt card-icon mr-5" aria-hidden="true"></i>
                                <i class="fa fa-linkedin card-icon" aria-hidden="true"></i>
                                <p>
                                    <!--UMA FRASE DE DESCRIÇÃO? NOME COMPLETO?-->
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!--/EQUIPE-->

<!-- Entre em Contato -->
<div class="container-fluid" id='contato' routerLink fragment="contato">
    <div class="row mt-5 mb-5 ml-5">

        <div class="col-md-6 mb-5 align-items-center mt-5">

            <h1>Entre em Contato</h1>

            <div class="col-md-6 ">
                <img src="https://imgur.com/T5vk6MJ.png" alt="Entre em contato" width="400px" height="400px">
            </div>

        </div>

        <div class="col-md-6 mb-0 align-items-center cont-color mt-5">

            <form>
                <div class="form-group">
                    <label for="email"></label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailContato"
                        placeholder="Seu endereço de e-mail">
                </div>
                <div class="form-group">
                    <label for="assunto"></label>
                    <input type="text" class="form-control" id="assunto" placeholder="Assunto">
                </div>
                <div class="form-group">
                    <label for="mensagem"></label>
                    <textarea class="form-control" id="mensagem" rows="5" placeholder="Digite sua mensagem"></textarea>
                </div>

                <button type="submit" class="btn btn-light">Enviar</button>
            </form>

        </div>

    </div>
</div>
<!--/Entre em Contato-->