<div class="container-fluid mt-5" id='home'>

    <div class="row d-flex align-items-center">
        <div class="col-md-7">

            <div class="row d-flex justify-content-center">
                <div class="col-md-7">
                    <h1 class="fs-50">Seja bem vinde a nossa rede social Zênite.</h1>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <a href="" target="_blank"><i class="fas fa-envelope mr-4 icon"></i></a>
                    <a href="" target="_blank"><i class="fa fa-linkedin icon" aria-hidden="true"></i></a>
                </div>
            </div>

        </div>

        <div class="col-md-5">
            <img src="https://imgur.com/LsiaWCC.png" alt="" width="500px" height="500px">
        </div>

    </div>

</div>

<div class="container-fluid">
    <div class="row d-flex align-items-center">

        <div class="col-md-4" id='sobreNos'>
            <img src="https://imgur.com/sVHat0x.png" alt="" width="500px" height="500px">
        </div>

        <div class="col-md-8">

            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <h1>Quem Somos</h1>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Placerat orci nulla pellentesque dignissim enim. Dolor sit amet
                        consectetur adipiscing elit pellentesque habitant morbi tristique. Neque vitae tempus quam
                        pellentesque nec nam aliquam sem et. Auctor elit sed vulputate mi sit amet mauris commodo quis.
                        Ut ornare lectus sit amet est placerat in egestas. Mattis aliquam faucibus purus in massa tempor
                        nec. Velit ut tortor pretium viverra suspendisse potenti nullam ac tortor. Id venenatis a
                        condimentum vitae sapien pellentesque habitant morbi. Porta non pulvinar neque laoreet
                        suspendisse. Facilisis magna etiam tempor orci eu lobortis elementum nibh. Eu consequat ac felis
                        donec et odio pellentesque.</p>
                </div>
            </div>

        </div>

    </div>

    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-12 d-flex justify-content-center align-items-center ml-5 mr-5">
            <div class="col-md-4 d-flex justify-content-center">
                <i class="fas fa-envelope icon-size"></i>
            </div>

            <div class="col-md-4 d-flex justify-content-center">
                <i class="fa fa-binoculars icon-size"></i>
            </div>

            <div class="col-md-4 d-flex justify-content-center">
                <i class="fas fa-users icon-size"></i>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-12 d-flex justify-content-center align-items-center ml-5 mr-5">
            <div class="col-md-4 texto">
                <h3 class="titulo d-flex justify-content-center"> Missão</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec erat nulla, facilisis in
                    sollicitudin ut, sagittis at mi. Quisque lorem nibh, blandit ut erat laoreet, sagittis ultrices
                    mi. Donec posuere vitae leo in mattis. Fusce ac sapien scelerisque, congue ex non, iaculis sem.</p>
            </div>
            <div class="col-md-4 texto">
                <h3 class="titulo d-flex justify-content-center"> Visão </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec erat nulla, facilisis in
                    sollicitudin ut, sagittis at mi. Quisque lorem nibh, blandit ut erat laoreet, sagittis ultrices
                    mi. Donec posuere vitae leo in mattis. Fusce ac sapien scelerisque, congue ex non, iaculis sem.</p>
            </div>
            <div class="col-md-4 texto">
                <h3 class="titulo d-flex justify-content-center"> Valores </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec erat nulla, facilisis in
                    sollicitudin ut, sagittis at mi. Quisque lorem nibh, blandit ut erat laoreet, sagittis ultrices
                    mi. Donec posuere vitae leo in mattis. Fusce ac sapien scelerisque, congue ex non, iaculis sem.</p>
            </div>

        </div>
    </div>

</div>
<!--AREA DIFUSA PARA VERDE #4caf50-->
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md-12 cont-color">
            <div class="d-flex justify-content-center">
                <h1>Conheça nossas trilhas.</h1>
            </div>
            <div class="row d-flex justify-content-center">

                <div class="col-md-4 d-flex justify-content-start">
                    <div class="card-columns">
                        <div class="card card-tm mt-3 mb-3">
                            <img class="card-img-top" src=".../100px160/" alt="Imagem de capa do card">
                            <div class="card-body ">
                                <h5 class="card-title">1Título do card que quebra em uma nova linha</h5>
                                <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona
                                    como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 d-flex justify-content-center">
                    <div class="card-columns">
                        <div class="card card-tm mt-3 mb-3">
                            <img class="card-img-top" src=".../100px160/" alt="Imagem de capa do card">
                            <div class="card-body ">
                                <h5 class="card-title">2Título do card que quebra em uma nova linha</h5>
                                <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que
                                    funciona
                                    como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 d-flex justify-content-end">
                    <div class="card-columns">
                        <div class="card card-tm mt-3 mb-3">
                            <img class="card-img-top" src=".../100px160/" alt="Imagem de capa do card">
                            <div class="card-body ">
                                <h5 class="card-title">3Título do card que quebra em uma nova linha</h5>
                                <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que
                                    funciona como uma introdução a um conteúdo adicional. Este conteúdo é um
                                    pouco
                                    maior.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--/AREA DIFUSA PARA VERDE #4caf50-->

<!--Area de apoiador-->
<div class="container">

    <div class="row d-flex justify-content-center mt-5" id='apoie'>
        <h1>Seja um apoiador</h1>
    </div>

    <div class="row mt-5">

        <div class="col-md-6 d-flex justify-content-center">

            <div class="col-md-6 ml-5 mt-5 align-items-center">
                <div class="mb-5">
                    <button class="btn btn-success btn-lg btn-color">
                        Doe agora
                    </button>
                </div>
                <div class="mb-5">
                    <button class="btn btn-success btn-lg btn-color">
                        Torna-se um parceirto
                    </button>
                </div>
                <div class="mb-5">
                    <button class="btn btn-success btn-lg btn-color">
                        Contrate
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-5 align-items-center">

            <div class="col-md-6 ">
                <img src="https://imgur.com/0Xn8DIH.png" alt="Imagem para doar" width="400px" height="400px">
            </div>

        </div>

    </div>
</div>
<!--/Area de apoiador-->
<!--EQUIPE-->
<div class="container">
    <div class="row d-flex justify-content-center mt-5">
        <h1>Conheça a Equipe</h1>
    </div>

    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-3">

            <section>
                <div class="face">
                    <div class="frontLhama">
                        <h2>Pedrinho</h2>
                        <img src="https://imgur.com/7QRB7f7.png" alt="Lhama" width="400px" height="400px">
                    </div>

                    <div class="backLhama">
                        <h2>Saiba Mais</h2>
                        <p>Nosso mascote Pedrinho, uma Lhama que recebeu esse nome em homenagem ao filho de um dos
                            nossos integrantes.</p>
                    </div>
                </div>
            </section>

        </div>

        <div class="col-md-9 d-flex justify-content-end">

            <div class="row d-flex justify-content-end">

                <div class="row d-flex justify-content-end">
                    <div class="col-md-4">

                        <div class="faceEquipe">
                            <div class="front">
                                <h2>André</h2>
                                <img src="https://imgur.com/7QRB7f7.png" alt="Lhama" width="200px" height="200px">
                            </div>

                            <div class="back">
                                <h2>Saiba Mais</h2>
                                <p>Nosso mascote Pedrinho, uma Lhama que recebeu esse nome em homenagem ao filho de
                                    um dos
                                    nossos integrantes.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="faceEquipe">
                            <div class="front">
                                <h2>Barbara</h2>
                                <img src="https://imgur.com/7QRB7f7.png" alt="Lhama" width="200px" height="200px">
                            </div>

                            <div class="back">
                                <h2>Saiba Mais</h2>
                                <p>Nosso mascote Pedrinho, uma Lhama que recebeu esse nome em homenagem ao filho de
                                    um dos
                                    nossos integrantes.</p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">


                        <div class="faceEquipe">
                            <div class="front">
                                <h2>Fabio</h2>
                                <img src="https://imgur.com/7QRB7f7.png" alt="Lhama" width="200px" height="200px">
                            </div>

                            <div class="back">
                                <h2>Saiba Mais</h2>
                                <p>Nosso mascote Pedrinho, uma Lhama que recebeu esse nome em homenagem ao filho de
                                    um dos
                                    nossos integrantes.</p>
                            </div>
                        </div>



                    </div>
                </div>

                <div class="row d-flex justify-content-end mt-3">
                    <div class="col-md-4">

                        <div class="faceEquipe">
                            <div class="front">
                                <h2>Jaque</h2>
                                <img src="https://imgur.com/7QRB7f7.png" alt="Lhama" width="200px" height="200px">
                            </div>

                            <div class="back">
                                <h2>Saiba Mais</h2>
                                <p>Nosso mascote Pedrinho, uma Lhama que recebeu esse nome em homenagem ao filho de
                                    um dos
                                    nossos integrantes.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="faceEquipe">
                            <div class="front">
                                <h2>Marlon</h2>
                                <img src="https://imgur.com/7QRB7f7.png" alt="Lhama" width="200px" height="200px">
                            </div>

                            <div class="back">
                                <h2>Saiba Mais</h2>
                                <p>Nosso mascote Pedrinho, uma Lhama que recebeu esse nome em homenagem ao filho de
                                    um dos
                                    nossos integrantes.</p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">


                        <div class="faceEquipe">
                            <div class="front">
                                <h2>Tomas</h2>
                                <img src="https://imgur.com/7QRB7f7.png" alt="Lhama" width="200px" height="200px">
                            </div>

                            <div class="back">
                                <h2>Saiba Mais</h2>
                                <p>Nosso mascote Pedrinho, uma Lhama que recebeu esse nome em homenagem ao filho de
                                    um dos
                                    nossos integrantes.</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!--/EQUIPE-->

<!-- Entre em Contato -->
<div class="container-fluid" id='contato'>
    <div class="row mt-5 mb-5 ml-5">

        <div class="col-md-6 mb-5 align-items-center mt-5">

            <h1>Entre em Contato</h1>

            <div class="col-md-6 ">
                <img src="https://imgur.com/T5vk6MJ.png" alt="Entre em contato" width="400px" height="400px">
            </div>

        </div>

        <div class="col-md-6 mb-0 align-items-center cont-color mt-5">

            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1"></label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                        placeholder="Seu endereço de e-mail">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1"></label>
                    <input type="text" class="form-control" id="assunto" placeholder="Assunto">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1"></label>
                    <textarea class="form-control" id="mensagem" rows="5" placeholder="Digite sua mensagem"></textarea>
                </div>

                <button type="submit" class="btn btn-light">Enviar</button>
            </form>

        </div>

    </div>
</div>
<!--/Entre em Contato-->