<div class="container-fluid mt-5">

    <div class="row d-flex align-items-center">
        <div class="col-md-7">

            <div class="row d-flex justify-content-center">
                <div class="col-md-7">
                    <h1 class="fs-50">Seja bem vinde a nossa rede social Zênite.</h1>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <a href="" target="_blank"><i class="fas fa-envelope mr-4 icon"></i></a>
                    <a href="" target="_blank"><i class="fa fa-linkedin icon" aria-hidden="true"></i></a>
                </div>
            </div>

        </div>

        <div class="col-md-5">
            <img src="https://imgur.com/LsiaWCC.png" alt="" width="500px" height="500px">
        </div>

    </div>

</div>

<div class="container-fluid">
    <div class="row d-flex align-items-center">

        <div class="col-md-4">
            <img src="https://imgur.com/sVHat0x.png" alt="" width="500px" height="500px">
        </div>

        <div class="col-md-8">

            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <h1>Quem Somos</h1>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Placerat orci nulla pellentesque dignissim enim. Dolor sit amet
                        consectetur adipiscing elit pellentesque habitant morbi tristique. Neque vitae tempus quam
                        pellentesque nec nam aliquam sem et. Auctor elit sed vulputate mi sit amet mauris commodo quis.
                        Ut ornare lectus sit amet est placerat in egestas. Mattis aliquam faucibus purus in massa tempor
                        nec. Velit ut tortor pretium viverra suspendisse potenti nullam ac tortor. Id venenatis a
                        condimentum vitae sapien pellentesque habitant morbi. Porta non pulvinar neque laoreet
                        suspendisse. Facilisis magna etiam tempor orci eu lobortis elementum nibh. Eu consequat ac felis
                        donec et odio pellentesque.</p>
                </div>
            </div>

        </div>

    </div>

    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-12 d-flex justify-content-center align-items-center ml-5 mr-5">
            <div class="col-md-4">
                <i class="fas fa-envelope icon-size"></i>
            </div>

            <div class="col-md-4">
                <i class="fa fa-binoculars icon-size"></i>
            </div>

            <div class="col-md-4">
                <i class="fas fa-users icon-size"></i>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-12 d-flex justify-content-center align-items-center ml-5 mr-5">
            <div class="col-md-4 texto">
                <h3 class="titulo d-flex justify-content-center"> Missão</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec erat nulla, facilisis in
                    sollicitudin ut, sagittis at mi. Quisque lorem nibh, blandit ut erat laoreet, sagittis ultrices
                    mi. Donec posuere vitae leo in mattis. Fusce ac sapien scelerisque, congue ex non, iaculis sem.</p>
            </div>
            <div class="col-md-4 texto">
                <h3 class="titulo d-flex justify-content-center"> Visão </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec erat nulla, facilisis in
                    sollicitudin ut, sagittis at mi. Quisque lorem nibh, blandit ut erat laoreet, sagittis ultrices
                    mi. Donec posuere vitae leo in mattis. Fusce ac sapien scelerisque, congue ex non, iaculis sem.</p>
            </div>
            <div class="col-md-4 texto">
                <h3 class="titulo d-flex justify-content-center"> Valores </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec erat nulla, facilisis in
                    sollicitudin ut, sagittis at mi. Quisque lorem nibh, blandit ut erat laoreet, sagittis ultrices
                    mi. Donec posuere vitae leo in mattis. Fusce ac sapien scelerisque, congue ex non, iaculis sem.</p>
            </div>

        </div>
    </div>

</div>
<!--AREA DIFUSA PARA VERDE #4caf50-->
<div class="container-fluid">
    <div class="row ">
        <div class="col-md-12 cont-color ">
            <div class="d-flex justify-content-center mt-3">
                <h2>Conheça nossas trilhas.</h2>
            </div>
            <div class="row d-flex justify-content-center">

                <div class="col-md-4">
                    <div class="card-columns">
                        <div class="card card-tm mt-3 mb-3">
                            <img class="card-img-top" src=".../100px160/" alt="Imagem de capa do card">
                            <div class="card-body ">
                                <h5 class="card-title">Título do card que quebra em uma nova linha</h5>
                                <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona
                                    como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card-columns">
                        <div class="card card-tm mt-3 mb-3">
                            <img class="card-img-top" src=".../100px160/" alt="Imagem de capa do card">
                            <div class="card-body ">
                                <h5 class="card-title">Título do card que quebra em uma nova linha</h5>
                                <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que
                                    funciona
                                    como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card-columns">
                        <div class="card card-tm mt-3 mb-3">
                            <img class="card-img-top" src=".../100px160/" alt="Imagem de capa do card">
                            <div class="card-body ">
                                <h5 class="card-title">Título do card que quebra em uma nova linha</h5>
                                <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que
                                    funciona como uma introdução a um conteúdo adicional. Este conteúdo é um
                                    pouco
                                    maior.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <h2>Seja um apoiador</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">


        </div>
    </div>
</div>